body{
    display: grid;
    grid-template-columns: 240px 840px 360px;
    grid-template-rows: auto;
    grid-template-areas:
        "novel twitch youtube"
        "main viewer novels"
        "main viewer novels";
    color: white;
    background-image: url("vaporwave.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;



}

#nov{
    grid-area: novel;
}

#twi{
    grid-area: twitch;
}
#yout{
    grid-area: youtube;
}
#divRss{
    grid-area: novels;
    
}


#twitchView{
    grid-area: main;
    overflow: scroll;
    height: 800px;
    width: 240px;
}




 
#twitch-embed{
    grid-area: viewer;
}
article {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding: 8px 12px;
    
    border-radius: 8px;
    margin: 0 auto;
  }
  article:hover {
    border: 2px solid #000000;
  }
  
  a{
      color: white;
  }